<form action="/payment/results">
  <div>
    <label for = "user_apr">APR</label>
    <input name = "apr" id = "user_apr" type = "text" placeholder = "E.g. 5.42">
  </div>
  <div>
    <label for = "user_years">Number of years</label>
    <input name = "years" id = "user_years" type = "text" placeholder = "How many years to repay?">
  </div>
  <div>
    <label for = "user_principal">Principal</label>
    <input name = "principal" id = "user_principal" type = "text" placeholder = "How much principal?">
  </div>
<button>Calculate monthly payment</button>
</form>
