<form action="/random/results">
  <div>
    <label for = "user_min">Minimum</label>
    <input name = "min" id = "user_min" type = "text" placeholder = "E.g. 1.5">
  </div>
  <div>
    <label for = "user_max">Maximum</label>
    <input name = "max" id = "user_max" type = "text" placeholder = "E.g. 4.5">
  </div>
<button>Pick random number</button>
</form>
