<form>
<form action="/square/results">
  <div>
    <label for = "square_number">Enter a number</label>
  </div>
  <div>
    <input name = "number" id = "square_number" type = "text" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>
</form>
